*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

body{border-radius: 1px solid grey;}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    background-color:#d72866;
}

.main .calculator{
    
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 450px;
    position: relative;
    font-size: 25px;
    font-weight: 500;
    border: 3px solid rgba(0, 0, 0, 0.9);
    box-shadow:inset 10px 10px 10px rgba(0,0,0,0.12),inset -10px -40px 10px rgba(0,0,0,0.1), -10px -10px 10px rgba(0,0,0,0.24);
}
.clearbtn{
    background-color: #a3224ff1;
    color: #fff;
}

* {
    box-sizing: border-box;  
  }


  .calculator {
    width: 300px;
    border-radius: 1px;
    background: #fff;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.12), 10 10px 2px rgba(0,0,0,0.24);
    border: 10px;
  }
  
  .calculator #display {
    padding: 24px;
    height: 70px;
    width: 322px;
    border: #262525;
    text-align: center;
    padding: 8px 16px;
    background: whitesmoke;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 2px 10px 100px #ff3077,inset -2px -4px 60px #ff3077 ;
  }
  
  .calculator table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }
  
  .calculator table td {
    padding: 16px;
    cursor: pointer;
    box-shadow: inset 2px 1px 10px #a5a5a5,inset -2px -1px 10px #909090 ;
    font-family: 'Fasthand', cursive;

  }
  h1{
    font-size: 3rem;
    margin: 10px;
    font-family: 'Fasthand', cursive;
    color: white;
    text-shadow:10px 3px 8px #590f29;
  }
